<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Naufal note</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav nav" id="mobile-demo">
            <i class="nav-text center"><a href="/dashboard">Naufal Note</a></i>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>