<h1><i class="fas fa-book-reader"></i Naufal></h1>
<div class="section">
    <p class="lead">Create Note Daily</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>