p {
    margin: 10px 0 !important;
}
  
.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.nav-text {
  margin: 10px;
}

.nav {
  background-color: gray;
}

.dashboard {
  margin: 1px;
  background-color: aqua;
}